aiohttp
python-dotenv
loguru
websockets
daily
flask==1.1.4
jinja2==2.11.3
markupsafe==2.0.1
click==7.0
python-dotenv
fastapi[all]
uvicorn
pipecat-ai[daily,elevenlabs,openai,silero,google]
PyPDF2
email-validator
torch
transformers
google-generativeai